{% extends 'base.jinja2' %}

{% block body %}
<h1>Job Insights</h1>
<hr>
{% if ctx["job"] %}
<h4>Job_title</h4>
<p>{{ctx["job"]["job_title"]}}</p>
<hr>
<h4>Company</h4>
<p>{{ ctx["job"]["company"] }}</p>
<hr>
<h4>State</h4>
<p>{{ ctx["job"]["state"] }}</p>
<hr>
<h4>City</h4>
<p>{{ ctx["job"]["city"] }}</p>
<hr>
<h4>Min_salary</h4>
<p>{{ ctx["job"]["min_salary"] }}</p>
<hr>
<h4>Max_salary</h4>
<p>{{ ctx["job"]["max_salary"] }}</p>
<hr>
<h4>Job_desc</h4>
<p>{{ ctx["job"]["job_desc"] }}</p>
<hr>
<h4>Industry</h4>
<p>{{ ctx["job"]["industry"] }}</p>
<hr>
<h4>Rating</h4>
<p>{{ ctx["job"]["rating"] }}</p>
<hr>
<h4>Date_posted</h4>
<p>{{ ctx["job"]["date_posted"] }}</p>
<hr>
<h4>Valid_until</h4>
<p>{{ ctx["job"]["valid_until"] }}</p>
<hr>
<h4>Job_type</h4>
<p>{{ ctx["job"]["job_type"] }}</p>
<hr>
<h4>Id</h4>
<p>{{ ctx["job"]["id"] }}</p>
{% endif %}
<hr>
<button class="btn my-3 btn-warning" onclick="goBack()">Go Back</button>
<script>goBack = () => window.history.back();</script>
{% endblock body %}
